:root {
  --sliderColor: blue;
  --mainLayer: 1;
  --barLayer: 2;
  --toggleLayer: 10;
}

.slider__container {
  position: relative;
  width: 300px;
  height: 30px;
}

.slider__main {
  height: 10px;
  top: 50%;
  position: absolute;
  z-index: var(--mainLayer);
  width: 100%;
  background-color: var(--sliderColor);

}

.slider__minBar,
.slider__maxBar {
  position: absolute;
  height: 10px;
  z-index: var(--barLayer);
  top: 50%;
  width: 0;

  background-color: #aaa;
}



[class*="bar"].left {
  left: 0;
}

[class*="bar"].right {
  right: 0;
}



.slider_toggle.left { left: -10px; }
.slider_toggle.right { left: calc(100% - 10px); }
.slider_toggle {
  position: absolute;
  z-index: 10;

  top: 9px;
  width: 20px;
  height: 20px;

  background-color: #fff;
  border: 1px solid #333;
  border-radius: 50%;

  cursor: pointer;
}
